<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>  
        $(document).ready(function(){  
            $("#addButton").click(function(e){  
                var first_number = $("#firstNumber").val();
                var second_number = $("#secondNumber").val();
                console.log(first_number); 
                console.log(second_number); 
                // alert("numbers are " + first_number + ", " + second_number);  
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "addition:add" %}',
                    data:{
                        first_number:first_number,
                        second_number:second_number,
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(data){
                        $("#Output").html(data)
                    }
                });
            });  
        });  
    </script>  
</head>
<body>

<div class="jumbotron text-center">
  <h1>Addition of two Numbers</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">First Number:</label>
            <input type="number" class="form-control" id="firstNumber" 
            placeholder="Enter First Number" name="firstNumber">
        </div>
        <div class="form-group">
            <label for="pwd">Second Number:</label>
            <input type="number" class="form-control" id="secondNumber" 
            placeholder="Enter Second Number" name="secondNumber">
        </div>
        <button type="submit" id="addButton" class="btn btn-primary">Add</button>
        <br><br>
        <div>
            <h1>Output:</h1>
            <p id="Output">Calculating ...</p>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

</body>
</html>
